<!DOCTYPE html>
<html ng-app="watchDogeFrontend">
  <head>
    <meta charset="utf-8">
    <title>AngularJS + D3.js</title>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="app.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body ng-controller="AppCtrl">
    <form ng-submit="getMetrics()">
      Server: <input ng-model="server"></input>
      Monitoring server: <input ng-model="monitoring_server"></input>
      Redis Accuracy: <input ng-model="redis_accuracy"></input>
      <input type="submit" value="Get Data">
    </form>
    <h1>Metrics Graph</h1>
    <chart val="data"></chart>
  </body>
</html>